aiohttp==3.7.2
appdirs==1.4.4
apt-clone==0.2.1
apturl==0.5.2
asgiref==3.3.1
async-timeout==3.0.1
attrs==20.2.0
Automat==20.2.0
bcrypt==3.2.0
beautifulsoup4==4.6.0
Brlapi==0.6.6
cached-property==1.5.2
catfish==1.4.10
certifi==2021.5.30
cffi==1.14.3
chardet==4.0.0
click==6.7
colorama==0.3.7
command-not-found==0.3
configobj==5.0.6
constantly==15.1.0
cryptography==3.2.1
cssselect==1.1.0
cupshelpers==1.0
defer==1.0.6
defusedxml==0.5.0
distlib==0.3.1
distro==1.5.0
dj-database-url==0.5.0
Django==3.0
django-allauth==0.37.1
django-cors-headers==2.4.0
django-environ==0.4.5
django-heroku==0.3.1
django-rest-auth==0.9.3
django-widget-tweaks==1.4.8
djangorestframework==3.12.1
docker==4.3.1
docker-compose==1.27.4
dockerpty==0.4.1
docopt==0.6.2
filelock==3.0.12
gunicorn==19.7.1
httplib2==0.9.2
hyperlink==20.0.1
idna==2.10
idna-ssl==1.1.0
importlib-metadata==1.7.0
importlib-resources==3.0.0
incremental==17.5.0
iniconfig==1.1.1
instagram==2.1.1
itemadapter==0.1.1
itemloaders==1.0.3
jmespath==0.10.0
jsonschema==3.2.0
louis==3.5.0
lxml==4.6.1
Mako==1.0.7
MarkupSafe==1.0
menulibre==2.2.1
mugshot==0.4.2
multidict==5.0.0
netifaces==0.10.4
npm==0.1.1
oauthlib==2.1.0
onboard==1.4.1
optional-django==0.1.0
packaging==20.8
paramiko==2.7.2
parsel==1.6.0
pexpect==4.2.1
Pillow==7.2.0
pluggy==0.13.1
Protego==0.1.16
psutil==5.4.2
psycopg2==2.7.7
psycopg2-binary==2.8.6
py==1.10.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
PyDispatcher==2.0.5
pygobject==3.26.1
PyHamcrest==2.0.2
PyICU==1.9.8
PyNaCl==1.4.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyparted==3.11.1
pyrsistent==0.17.3
pytest==6.2.1
python-apt==1.6.5+ubuntu0.5
python-debian==0.1.32
python-dotenv==0.15.0
python-xapp==1.8.1
python3-openid==3.1.0
pytz==2020.4
pyxdg==0.25
PyYAML==3.12
queuelib==1.5.0
reportlab==3.4.0
requests==2.25.1
requests-oauthlib==1.0.0
requests-unixsocket==0.1.5
Scrapy==2.4.0
screen-resolution-extra==0.0.0
selenium==3.141.0
service-identity==18.1.0
sessioninstaller==0.0.0
setproctitle==1.1.10
six==1.11.0
sqlparse==0.4.1
system-service==0.3
systemd-python==234
texttable==1.6.3
toml==0.10.2
Twisted==20.3.0
typing-extensions==3.7.4.3
ubuntu-advantage-tools==27.0
ubuntu-drivers-common==0.0.0
ufw==0.36
urllib3==1.26.5
virtualenv==20.0.31
w3lib==1.22.0
websocket-client==0.57.0
whitenoise==3.3.1
xkit==0.0.0
yarl==1.6.2
zipp==3.1.0
zope.interface==5.1.2
